<!DOCTYPE html>
<html>
    <head>
        <title>Vue tutorial</title>
    </head>
    <body>
        <div id="root">
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>

            <input type="text" id="input" v-model="newName">

            <button id="button" @click="addName" :title="title">Add name</button>
        </div>

        <script src="https://unpkg.com/vue"></script>

        <script>
            new Vue({
                el: '#root',
                data: {
                    newName: '',
                    names: ['Joe', 'Mary', 'Jane', 'Jack'],
                    title: 'This is the title'
                },
                methods: {
                    addName(){
                        this.names.push(this.newName);
                        this.newName = '';
                    }
                }
                // mounted() {
                //     alert('ready')
                // }
            });

            document.querySelector('#button').addEventListener('click', () => {
                
            });
        </script>
    </body>
</html>